@model Model.EF.ProductDetail

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Tạo mới chi tiết
}
@section jsFooter{
    <script src="~/assets/admin/dist/js/jscolor.js"></script>
    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#imageList').append("<i> <img src='" + url + "'width=100>" +
                    '<a href="#" class="btn-del"><i class ="fa fa-times" ></i></a></i> ');
                $('.btn-del').off('click').on('click', function (e) {
                    e.preventDefault();
                    $(this).parent().remove();
                });
            };

            finder.popup();
        })
        $('#submit').on('click', function (e) {
            var images = [];
            $.each($('#imageList img'), function (i, item) {
                images.push($(item).prop('src'));
            })
            $('#MoreImages').val(JSON.stringify(images));
            var n_match = ntc.name($('#Color').val());
            $('#Color').val(n_match[1]);
         
        })




    </script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ProductDetail</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.ProductID, "ProductID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ProductID, htmlAttributes: new { @readonly = "true", @Value = @Url.RequestContext.RouteData.Values["id"] })
                @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
            </div>
        </div>

       

        <div class="form-group">
            @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Color, new { @class = "jscolor" })
                @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.MoreImages, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="groove col-md-4">
                    <div id="imageList">
                        @Html.HiddenFor(model => model.MoreImages, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MoreImages, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-8">
                    <a id="btnSelectImage" href="#">Chọn ảnh</a>
                </div>



            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submit" type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

