@model Model.EF.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = (Model.EF.ProductCategory)ViewBag.Category;
    var relatedProducts = (List<Model.EF.Product>)ViewBag.RelatedProducts;
    var productDetails = (List<Model.EF.ProductDetail>)ViewBag.ProductDetails;


}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css'>



</head>

@section jsFooter{
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js'></script>
    <script src="~/assets/client/js/slide.js"></script>
    <script src="~/assets/client/js/controller/ProductDetailController.js"></script>


}






<div class="content">

    <div class="content_top">
        <div class="back-links">
            <p><a href="/">Trang chủ</a> >>>> <a href="/san-pham/@category.MetaTitle-@category.ID">@category.Name</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        <div class="cont-desc span_1_of_2">
            <div class="product-details">
                <div class="grid images_3_of_2">
                    <div id="container">
                        <div id="products_example">
                            <div id="products">
                                <div class="maind" id="imagesManagee">
                                    <div class="slider slider-for" >
                                    </div>
                                    <div class="slider slider-nav" >
                                    </div>

                                    @*<div class="clear"></div>*@
                                    <input type="hidden" id="hidProductIDD" value="0" />
                                </div>



                            </div>
                        </div>
                        @*<div class="slides_container" id="imagesManagee">
                                <a href="#" target="_blank" id="imageListt"></a>
                                <div class="clear"></div>
                                <input type="hidden" id="hidProductIDD" value="0" />

                                <div class="maind">
                                    <div class="slider slider-for">
                                        <img class="h3-slide" src="/Data/images/14.PNG">
                                        <img class="h3-slide" src="/Data/images/b3b0acfcf8ec02b25bfd.jpg">
                                    </div>
                                    <div class="slider slider-nav">
                                        <img class="h3-slide" src="/Data/images/14.PNG">
                                        <img class="h3-slide" src="/Data/images/b3b0acfcf8ec02b25bfd.jpg">

                                    </div>

                                </div>


                            </div>*@
                    </div>

                </div>
                <div class="desc span_3_of_2">
                    <h2>@Model.Name </h2>
                    <p>@Model.Description</p>
                    <div style="float: left"><p>Màu: </p> </div>
                    <a href="#" data-id="@productDetails[0].ID" class="firstID"></a>
                    @foreach (var item in productDetails)
                    {
                        <div style="float: left">
                            <a href="#" data-id="@item.ID" class="btn btn-primary btn-images">Quản lý ảnh</a>
                            @*<button href="#" data-id="@item.ID" class="btn-color" style="background-color: @item.Color">@item.Color</button>*@
                        </div>
                    }
                    <div class="dropdown show" style="float: left">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Choose size:
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">



                        </div>
                    </div>

                    <div class="price">
                        <p>Giá: <span>@(Model.Price.HasValue ? Model.Price.Value.ToString("N0") : "Liên hệ")</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="/them-gio-hang?productId=@Model.ID&quantity=1">Thêm vào giỏ</a></h4>
                    </div>
                    <div class="share-desc">
                        <div class="share">
                            <p>Chia sẻ :</p>
                            <ul>
                                <li><a href="#"><img src="images/facebook.png" alt="" /></a></li>
                                <li><a href="#"><img src="images/twitter.png" alt="" /></a></li>
                            </ul>
                        </div>


                        <div class="clear"></div>
                    </div>
                    <div class="wish-list">
                        <ul>
                            <li class="wish"><a href="#">Thêm vào yêu thích</a></li>
                            <li class="compare"><a href="#">So sánh</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="product_desc">
                    <div id="horizontalTab">
                        <ul class="resp-tabs-list">
                            <li>Chi tiết</li>


                        </ul>
                        <div class="resp-tabs-container">
                            <div class="product-desc">
                                @Html.Raw(Model.Detail)
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#horizontalTab').easyResponsiveTabs({
                            type: 'default', //Types: default, vertical, accordion
                            width: 'auto', //auto or any width like 600px
                            fit: true   // 100% fit in a container
                        });
                    });
                </script>
                <div class="content_bottom">
                    <div class="heading">
                        <h3>Sản phẩm liên quan</h3>
                    </div>
                    <div class="see">
                        <p><a href="/san-pham">Xem tất cả</a></p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="section group">
                    @foreach (var item in relatedProducts)
                    {
                        var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="@url"><img src="@item.Image" alt=""></a>
                            <div class="price" style="border:none">
                                <div class="add-cart" style="float:none">
                                    <h4><a href="@url">Add to Cart</a></h4>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    }

                </div>
            </div>

        </div>
    </div>
</div>

@*<div class="modal fade" id="imagesManage">
         Modal body
        <div class="modal-body">
            <div id="imageList"></div>
            <div class="clear"></div>
            <input type="button" id="btnchooseimage" class="btn btn-primary" value="Chọn ảnh" />
            <input type="hidden" id="hidProductID" value="0" />
        </div>
    </div>*@


